<!-- HEADER (knallrot) -->
<header class="navbar navbar-expand alarm-red border-bottom shadow-sm sticky-top py-2">
  <div class="container-fluid align-items-center">
    <!-- Links: LEA-Logo -->
    <div class="navbar-brand d-flex align-items-center gap-2 me-auto" aria-label="LEA">
      <img src="assets/LEA_Blue-1.png" alt="LEA" class="logo-img" />
    </div>

    <!-- Mitte: Titel + Adresse/Bemerkung -->
    <div class="text-center flex-grow-1" *ngIf="einsatz as e">
      <div class="meldebild-title text-white fw-bold">{{ meldebild(e) }}</div>

      <div class="meldebild-sub text-white-50">
        <ng-container *ngIf="e.location as loc; else infoTpl">
          {{ loc.street }} <span *ngIf="loc.housenumber">{{ loc.housenumber }}</span>,
          {{ loc.zipcode }} {{ loc.city }}
        </ng-container>
        <ng-template #infoTpl>
          <span *ngIf="e.additionalinformation">{{ e.additionalinformation }}</span>
        </ng-template>
      </div>
    </div>

    <!-- Rechts: FF-Logo -->
    <div class="ms-auto d-flex align-items-center">
            <div class="btn-group">
        <button
          type="button"
          class="btn btn-sm"
          [ngClass]="isActive('v1') ? 'btn-light' : 'btn-outline-light'"
          (click)="go('v1')"
        >Alarm 1</button>

        <button
          type="button"
          class="btn btn-sm"
          [ngClass]="isActive('v2') ? 'btn-light' : 'btn-outline-light'"
          (click)="go('v2')"
        >Alarm 2</button>
      </div>
      <img src="assets/logo_ohne_text.png" alt="Feuerwehr-Logo" class="logo-img" />
    </div>
  </div>
</header>

<!-- Gelb/Schwarz Ticker -->
<div class="ticker flash"></div>

<!-- Body: V1 oder V2 wird hier dynamisch eingeblendet, 'einsatz' als Input -->
<div class="screen-content">
  <ng-container *ngComponentOutlet="activeCmp; inputs: outletInputs"></ng-container>

  <!-- (optional) Dummy-Use gegen AoT-Warnungen -->
  <ng-template>
    <app-alarm-v1></app-alarm-v1>
    <app-alarm-v2></app-alarm-v2>
  </ng-template>
</div>
