.incident {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #400;
  color: #fff;

  h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}
